<h1>Publishers</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Year</th>
        </tr>
    </thead>
    <tbody>
        @for (publisher of publishers; track $index) {
            <tr>
                <td>
                    <a [routerLink] = "['/publishers/', publisher.publisherId]">
                        {{ publisher.publisherId }}
                    </a>
                </td>
                <td>{{ publisher.publisherName }}</td>
                <td>{{ publisher.publisherYear }}</td>
            </tr>
        }
    </tbody>
</table>