<table mat-table [dataSource]="games" 
    class="mat-elevation-z8">
    <!-- Id Column -->
    <ng-container matColumnDef="appId">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let Game">{{Game.appId}}</td>
    </ng-container> 
    <ng-container matColumnDef="developer">
        <th mat-header-cell *matHeaderCellDef>Developer</th>
        <td mat-cell *matCellDef="let Game">{{Game.developer}}</td>
      </ng-container> 
      <ng-container matColumnDef="gameName">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let Game">{{Game.gameName}}</td>
      </ng-container> 
      <ng-container matColumnDef="players">
        <th mat-header-cell *matHeaderCellDef>Players</th>
        <td mat-cell *matCellDef="let Game">{{Game.players}}</td>
      </ng-container>
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef>Price</th>
        <td mat-cell *matCellDef="let Game">${{Game.price}}</td>
      </ng-container>
      <ng-container matColumnDef="revenue">
        <th mat-header-cell *matHeaderCellDef>Revenue</th>
        <td mat-cell *matCellDef="let Game">${{Game.revenue}}</td>
      </ng-container>
      <ng-container matColumnDef="year">
        <th mat-header-cell *matHeaderCellDef>Year</th>
        <td mat-cell *matCellDef="let Game">{{Game.year}}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns;"></tr>  

</table>